workflow.json
{
    "id": 7,
    "name": "IntelVas-start-batch",
    "active": false,
    "nodes": [
        {
            "parameters": {},
            "name": "Start",
            "type": "n8n-nodes-base.start",
            "typeVersion": 1,
            "position": [
                -90,
                250
            ]
        },
        {
            "parameters": {
                "pipeline": "object_classification",
                "operation": "start",
                "uri": "={{$json[\"uri\"]}}",
                "parameters": {
                    "inference_interval": "50",
                    "threshold": "0.8"
                }
            },
            "name": "IntelVAS",
            "type": "n8n-nodes-base.intelvas",
            "typeVersion": 1,
            "position": [
                370,
                250
            ],
            "credentials": {
                "intelVASApi": "Intel VAS account"
            }
        },
        {
            "parameters": {
                "functionCode": "return [\n{ \n \n  json : {\n   uri : \"https://github.com/intel-iot-devkit/sample-videos/blob/master/person-bicycle-car-detection.mp4?raw=true\",\n }\n },\n {\n    json : {\n      uri : \"https://github.com/intel-iot-devkit/sample-videos/blob/master/car-detection.mp4?raw=true\",\n    }\n  },\n  {\n    json : {\n      uri : \"https://github.com/intel-iot-devkit/sample-videos/blob/master/people-detection.mp4?raw=true\",\n    }\n  }\n];\n"
            },
            "name": "Function",
            "type": "n8n-nodes-base.function",
            "typeVersion": 1,
            "position": [
                150,
                250
            ]
        }
    ],
    "connections": {
        "IntelVAS": {
            "main": [
                []
            ]
        },
        "Start": {
            "main": [
                [
                    {
                        "node": "Function",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Function": {
            "main": [
                [
                    {
                        "node": "IntelVAS",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "createdAt": "2021-10-12T06:54:16.162Z",
    "updatedAt": "2021-10-12T11:32:03.804Z",
    "settings": {},
    "staticData": null
}
